.comment {
  margin-top: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.nested {
  margin-left: 20px;
}

.header {
  margin-bottom: 5px;
  background-color: #c7dff0;
}

.attachment {
  margin-top: 5px;
}

.image {
  max-width: 80px;
  max-height: 60px;
  display: block;
  margin-top: 5px;
}

.download {
  margin-top: 5px;
  display: inline-block;
  color: #3498db;
  text-decoration: none;
}

.download:hover {
  text-decoration: underline;
}

.replyButton {
  margin-top: 5px;
  color: white;
  background-color: #3498db;
}

.replyButton:hover {
  background-color: #2980b9;
}
.replies {
  margin-top: 10px;
}
